<div id=books-index>
  <% @books.each do |n| %>
    <div class="row">
      <% @bk.each do |m| %>
        <div class="col-md-3 col-sm-3">
            <h4><%= m.title %></h4>
            <%= image_tag(m.coverpath) %>
            <%= link_to 'Read More', book_path(m), class:'btn btn-primary' %> <p/>
        </div>
      <% end %>
    </div>
<% end %>
</div>
