<h1><%= @page_title %></h1>
<p>Hi my name is Amir Hossein , and I am known as Rooham on the Web.
	I started working with computers when I was 9. I love IT and programming,
	and I'm professional at Network Administration & Network Design
	(Cisco,Linux,windows server,VMware Product's ,HP Server's ,
	 Dell Server's ...) and Network security.

I'm also familiar with many new technologies ,
such as web developing with python Django and Flask , php ,
Game Design with Unity3D and Unreal 4 ,I'm also familiar with many Network tech such as
 Wireless Technology (nano,Mikrotik) Firewall's , Router's , Switch's , 

			 </p>
